<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
    <add name="SecureNetCon" connectionString="Server=tcp:securenetserver.database.windows.net,
         1433;Initial Catalog=SecureNetDB;Persist Security Info=False;User ID=securenetdba;
         Password=Securen3t;"/>
    </connectionStrings>
  
  <!-- MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=false;Connection Timeout=30;-->
</configuration>