<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
     
   
    <add name="SecureNetCon" 
         connectionString="Server=securenetserver.database.windows.net,1433;
         Database=SecureNetDB;User ID=securenetdba;
         Password=Securen3t;"/>
      <!-- ALT CONN STR
      <add name="SecureNetCon"
         connectionString="Server=tcp:securenetserver.database.windows.net,1433;
            Initial Catalog=SecureNetDB;Persist Security Info=True;
            User ID=securenetdba;Password=Securen3t;
            MultipleActiveResultSets=True;"/>
            -->
    </connectionStrings>

  <appSettings>
    <!-- VirusTotal stuff -->
    <add key="virusTotalAPIKey" value="6272a916af066e5af228854976345296bbb9a55bde176fc4752c9532899054d6" />
  </appSettings>
  
 
</configuration>